 
/*


COLORS : 
            green:#2c9e1c        
            blue:#0088ff
            lightblue: #0088FF
            dark green: #1C9E75
            green/blue-light:#1c9e75
            light green:#5fb839
            black:#0d0d0d 



*/


/*--------style for all-------*/

/* serfis font */
@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,400;0,700;1,400;1,700&display=swap');




*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}


body{
    font-size: 1em;
    font-family: Tahoma, sans-serif;
    height: auto;
}




.nav .logo{
    
    
    position: relative;
    float: left;
    height: 70px;
    overflow: hidden;
    margin-left :20%;
    margin-top:10px;
    
}
.logo img{
    
    max-width:100%;
    margin-top:-25px;
}



        /* -----NAv------*/ 

.nav{

   
   
    width:100%;   
  
    font-size: 100%;
   
   align-content: center;
   position: fixed;
   background-color:#fff;
   height: 80px;
   padding-right: 15%;
   z-index: 2;
}

.nav li{ 
     
    padding :20px;
    margin:20px 25px 5px 30px;
    float :right;
    display: inline-block;

}

.nav li a{ 
    text-decoration: none;
    color:#0d0d0d ;
 
    
}

.nav li a:hover{ 
    color:#1C9E75;
     
     
 }

.nav .active a{ 
    color:#1C9E75;
}
   



/* ------index.html ----------*/


/*header */ 
header { 
    position: relative;
    padding : 0px 0;
    margin : 0;
    background: rgb(240, 240, 240);
    height:40vw;
    background-image: linear-gradient(#1c9e7525, #2c2c2cb9),url(img/wallpape2.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: local;
    
}

.title-box{
    position: absolute;
    top:0px;
    left:0px;
    transform: translate(48%,260%);
    z-index: 1;
    color:#fff;
    text-align: center;
   
    
}

.title-box h1{
    font-size: 360%;
    width:60%;
    margin-bottom:0px;
    font-family: 'Spectral', serif;
    font-weight: 700;
    
    
}
.title-box p{
    color:#1C9E75;
    text-align: left;
    width:50%;
    display: inline-block;
    font-size: 120%;
    margin-left: -35%;
    line-height: 1.4;
    
    
   
   
}


main{ 
    height: 400px;
}











/* ------contact.html ----------*/
















/* ------about.html ----------*/











