 
/*


COLORS : 
            green:#2c9e1c        
            blue:#0088ff
            lightblue: #0088FF
            dark green: #1C9E75
            green/blue-light:#1c9e75
            light green:#5fb839
            black:#0d0d0d 



*/


/*--------smargin-left:60px;tyle for all-------*/

/* serfis font */
@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,400;0,700;1,400;1,700&display=swap');




*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}


body{
    font-size: 1em;
    font-family: Tahoma, sans-serif;
    height: auto;
    position: relative;
    width: 100%;
    margin:0 auto;
   
}




.nav .logo{
    
    
    position: relative;
    float: left;
    height: 70px;
    overflow: hidden;
    margin-left :20%;
    margin-top:10px;
    
}
.logo img{
    
    max-width:100%;
    margin-top:-25px;
}



        /* -----NAv------*/ 

.nav{

   
   
    width:100%;   
  
    font-size: 100%;
   
   align-content: center;
   position: fixed;
   background-color:#fff;
   height: 80px;
   padding-right: 0%;
   z-index: 2;
   box-shadow: 2px 1px 16px -2px #6b6b6b;
}

.nav li{ 
     
    padding :20px;
    margin:20px 25px 5px 30px;
    float :right;
    display: inline-block;
    position: relative;

}

.nav li a{ 
    text-decoration: none;
    color:#0d0d0d ;
   
    
}

.nav li a:hover{ 
    color:#1C9E75;
    transition: color 0.2s ease-in;
     
 }

.nav .active a{ 
    color:#1C9E75;
}
   
/* sub nav, Dropmenu bar */
.sub{
    width:150%;
    overflow: hidden;
    position: absolute;
    left:-26%;
    top: 101%;
    background-color:#1c9e75;  
    text-align: left;
    padding:5px 10px;
    min-height:100% ;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
   
}

.sub li:hover a{ 
    color :#141414 ;
    
    transition : color 0.3s ease-in;
}



.sub li a{ 
    text-decoration: none;
    color:#fff ;
    padding :20px 0px;
    margin:0;
 
    
}

.nav li:hover .sub{ 
    transition :  visibility 0.4s , opacity 0.5s ease-out;
    visibility: visible;
    opacity: 1;
}




/* ------index.html ----------*/


/*header */ 
header { 
    
    overflow: hidden;
    
    padding : 0px 0;
    margin-bottom:60px;
    background: rgb(240, 240, 240);
    height:90vh;
    background-image: linear-gradient(#1c9e7525, #2c2c2cb9),url(img/wallpape2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.title-box{ 
    position: relative;
    z-index: 1;
    color:#fff;
    text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
    
}

.title-box h1{
    font-size: 360%;
    width:60%;
    margin-bottom:0px;
    font-family: 'Spectral', serif;
    font-weight: 700;
    
    
}

.title-box h1 span{
    color: #1c9e75;

}







/* -----------Service section---------- */ 


section{ 
    margin:120px auto 60px auto;
    width:65%;

}

section h2{
    
    padding-left: 5px;
    
    color:#161616;
    text-transform: uppercase;
    font-size: 130%;
    font-weight: bold;
    position: relative;
    
    margin-top: 60px ;
}

.service-sec h2::after,.section-partner h2::after{
    content: ' ';
    height: 2px;
    width: 160px;
    position: absolute;
    background-color:#0088ff;
    left: 0px;
    top:40px;
    margin:0 auto;
}


.Serv_icon_box{
    display: grid;
    grid-template-columns: 50fr 50fr;
    margin-top:70px;
    padding : 0 ;
    color:#131313;
    font-size: 130%;
    box-shadow: 2px 1px 16px -2px #6b6b6b;
    background-color:rgb(233, 233, 233);
}



.Serv_icon_box div{
    width:100%;
    padding :80px;
    margin:0;
    justify-self: center;
    background-color: rgb(255, 255, 255);
    transition: transform  0.3s , background-color 0.3s, box-shadow 0.2s  ease-in;
   
}

.Serv_icon_box div:hover {

        transform: translate(0,-20px);
        background-color:rgb(235, 235, 235);
        box-shadow: 2px 1px 16px -2px #6b6b6b;
}
.big-icon{ 
    color:#1c9e75;
    font-size: 350%;
    margin-bottom: 30px;
}


.Serv_icon_box h3{
    margin-bottom: 15px;
}


.Serv_icon_box p{
    color:#3b3b3b;
    text-align: justify;
    width:90%;
    line-height: 1.8;
}


/*------      feature projects section          -------*/ 

.section-featuerPro{
    
    background-image: url(img/wallpaper1.jpg);
    height: 90vh;
    margin-bottom :0;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: local;
    background-size: 100%;
    width:100%;
  
}


.section-featuerPro .feat_Pro_title{ 
   
    background-color: rgba(255, 255, 255, 0.932);
    width:20%;
    position: relative;
    margin-top:20px;
    padding : 20px 0px 20px 40px;
    left: 17.5%;
   
}





.info-box{
        position: relative;
        width: 30%;
        height: 400px;
       background-color: #1c9e75;
        margin:0 auto;
        top:100%;
        transition: top 1s ease-in-out;
        padding :60px 70px 60px 60px; 
        color:#ffffff;
        box-shadow: 3px 4px 18px -2px #1a1a1a;
}
.info-box span{
    margin: 10px 0px;
    display: inline-block;
    font-style: italic;
    color:#ffffff;
}

.info-box h1{
    font-size: 250%;
    width:100%;
    margin-bottom: 10px;
}


.info-box p{
    line-height: 1.2;
    text-align: justify;
    width: 100%;
    margin-TOP:20px;
    font-size: 150%;
}


.info-mask{
    position: relative;
    overflow: hidden;
    transition: top 1s ease-in;
    width:100%;
    height: 80%;
    z-index: 1;
}


.info-mask:hover .info-box { 
    top:30%;
}


/*------      partner section          -------*/ 


.section-partner{

    background-color:rgb(238, 238, 238);
    padding : 60px;
    width:100%;
    margin-top:0;
    margin-bottom: 0px;
}

.partner-box{
   

    
    width: 50%;
    
    margin:65px auto ;
    
}
.section-partner div { 

    overflow: hidden;
 
    display: flex;
   width:65%;
    border:1px solid #929292;
}
.section-partner h2{
    margin:0 auto;
    width:65%;
}
.section-partner div img{ 
    padding:20px;
    width:100%;
    height:auto;
    max-width: 100%;
    

}
/* ------index end ------------------------------------*/








/* ------contact.html ----------*/
 
/*


COLORS : 
            green:#2c9e1c        
            blue:#0088ff
            lightblue: #0088FF
            dark green: #1C9E75
            green/blue-light:#1c9e75
            light green:#5fb839
            black:#0d0d0d 



*/



#contact-header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.815),rgba(0, 0, 0, 0.733)),url("img/contactPageBg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    background-position: center;
}

#google-map {
 text-align: center;
}
iframe {
    padding: 2%;
}

#client-form {

   display: grid;
   grid-template-columns: 50% 40% ;
   justify-content: space-evenly;
   margin-left: 1.5%;
   letter-spacing: 1.5px;

}

input, textarea {
    width: 100%;
    padding: 3%;
    margin: 5%;
}
input[type=submit] {

    width: 30%;
    font-size: 2vh;
    background-color:#1c9e75;
    color: white;
    padding: 3%;
    border: none;
}
input[type=submit]:hover {

    background-color:#15634a ;
    cursor: pointer;
}
textarea {
    resize: none;
    height: 300px;
}
#contact-info {

    padding: 3%;
}
#contact-info .info1 {

    padding: 20px;
}
.info1 p {
    margin-top: 5%;
}
#contact-info .tel {

    padding: 20px;
}

.tel p {
    margin-top: 30px;
}
#contact-info .icon {
    padding: 20px;
}
.icon i {
    margin-top: 10px;
    font-size: 40px;
    color:  #1c9e75;

}



/* ------contact end -**********************************---------*/




/* ------about page-************************************---------*/
 
/*


COLORS : 
            green:#2c9e1c        
            blue:#0088ff
            lightblue: #0088FF
            dark green: #1C9E75
            green/blue-light:#1c9e75
            light green:#5fb839
            black:#0d0d0d 



*/


#about-header {

    background-image: linear-gradient(rgba(0, 0, 0, 0.568), rgba(0, 0, 0, 0.589)),url("img/wallpaper3.jpg");
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover; 
}
#section1 {

display: grid;
grid-template-columns: 40% 50%;
column-gap: 5%;
line-height: 1.4;
letter-spacing: 1.5px;
}
.office-picture {
max-width:100%;
margin-top: 30%;
margin-left: 5%;
}

.who-we-are {
margin-top: 15%;
padding: 10%;
}
.who-we-are h1 {
font-size: 10vh;
}
.who-we-are h3 {
font-size: 5vh;
text-align: left;
color: #1c9e75;
letter-spacing: 1.5px;
margin-top: 2%;
}
.who-we-are p {
font-size: 1.5rem;
margin-top: 3%;
}

#section2 {
display: grid;
grid-template-columns: repeat(4, auto);
line-height: 1.4;
padding: 2%;
height: 500px;
}
.descriptions {

background-color: rgb(248, 248, 248);

}
.descriptions h2 {
padding:  10%;
text-align: left;
color: #1c9e75;
position: relative;
top: 10%;
}

.descriptions p {

padding: 1% 10%;
text-align: left;
 position: relative;
top: 15%;
}


/* ------about end -*************************************---------*/




/* ---------------Footer --***********************************-------------*/
footer {

    background-color: #1c9e75;
    color: white;
}
#footer-section {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 5%;
    justify-items: center;
}

.contact-part h3 {
    width: 100%;
    
    color:#2b2b2b;
    margin-bottom: 10%;
    font-size: 1.5rem;
}
.contact-part p {

    padding:6% 0px;
    margin-bottom: 3%;
    font-size: 1.0rem;
}































/* --------------------media query -------------------*/











/*  **************************Index page***********************/
/* Mobile Version*/
@media only screen and (max-width: 600px)   {



                        .nav { 
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            height: 30vh;
                            background-color: rgb(231, 231, 231);
                            box-shadow: none;
                            position: relative;
                            top:0px;
                        }

                        .nav .logo{
                            width:18%;
                            
                            display: none;
                            margin-left :0%;
                            margin-top:10px;
                            
                        }
                        
                        .nav li{ 
                            font-size: 80%;
                            margin: 0px;
                            position: relative;
                        
                        }

                        .sub { 
                            display: none;
                        }
                        header{ 
                            height: 80vh;
                            margin-bottom: 0px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            background-size: cover;

                        }


                    
                        .title-box{
                            
                            width:100%;
                            z-index: 1;
                            color:#fff;
                            text-align: center;
                            position: relative;
                            display: flex;
                            justify-content: center;
                          
                        }
                        .title-box h1{
                            font-size: 200%;
                        }

                    

                    
                        section {
                            width:90%;
                            margin:60px auto;
                        }
                        section h2{ 
                            margin-top:40px;
                        }
                            .Serv_icon_box{
                                width:100%;
                                margin-top:60px;
                                grid-template-columns: 50fr ;
                                color:#131313;
                                font-size: 90%;
                                box-shadow: 2px 1px 16px -2px #6b6b6b;
                                background-color:rgb(233, 233, 233);
                            }
                        
                    
                        .Serv_icon_box div{
                            width:100%;
                            padding :40px;
                            margin:20;
                            justify-self: center;
                            background-color: rgb(255, 255, 255);
                            transition: transform  0.3s , background-color 0.3s, box-shadow 0.2s  ease-in;
                        
                        }
                        .section-featuerPro{
                            height: 55vh;
                        }
                        .section-featuerPro .feat_Pro_title{ 
                            background-color: rgb(255, 255, 255);

                            width:50%;
                            position: relative;
                            margin-top:20px;
                            padding : 20px 0px 20px 40px;
                            left: 10%;
                            font-size: 120%;
                        
                        }
                    
                        
                        .info-box{
                            position: relative;
                            width: 60%;
                            height: 250px;

                            padding :10px 50px 10px 60px; 
                            top:10px;
                            font-size: 90%;
                    }

                    .info-mask:hover .info-box { 
                        top:10px;
                    }  




                    .info-box p{
                        line-height: 1.2;
                        text-align: justify;
                        width: 100%;
                        margin-top:20px;
                        font-size: 90%;
                    }

                    .partner-box{
                        width: 100%;

                    }

                    .section-partner div { 

                    width:100%;
                    
                    }
                    .section-partner{
                        padding :20px;
                    }
                    .contact-part h3,.contact-part p{
                        font-size: 0.5rem;
                    }


                    footer {

                        background-color: #1c9e75;
                        color: white;
                    }
                    #footer-section {
                        display: grid;
                        grid-template-columns: auto auto auto;
                        padding: 5%;
                        justify-items: center;
                    }
                    
                    .contact-part h3 {
                        width: 100%;
                        
                        color:#2b2b2b;
                        margin-bottom: 10%;
                        font-size: 100%;
                    }
                    .contact-part p {
                    
                        padding:6% 0px;
                        margin-bottom: 3%;
                        font-size: 80%;
                    }
                
                    
                }


                    

/*         *****************************************************/
                    


                    
                    



/* Tab Version*/
@media only screen and (max-width: 800px) and (min-width: 600px)  {




                /*----------- index------------*/ 


                .nav .logo{
                    width:18%;
                    
                    
                    margin-left :0%;
                    margin-top:10px;
                    
                }
                
                .nav li{ 
                    font-size: 90%;
                    padding :20px;
                    margin:20px 5px 5px 00px;
                    
                    display: inline-block;
                    position: relative;
                
                }

                .sub li{ 
                    transition : color 0.3s ease-in;
                    margin-right: 25px;
                }
                header{ 
                    height: 60vh;
                    margin-bottom: 0px;
                }


              
                .title-box{
                    
                    
                    z-index: 1;
                    color:#fff;
                    text-align: center;
                    
                }
                .title-box h1{
                    font-size: 150;
                
                }

               
    
              
                section {
                    width:90%;
                    margin:60px auto;
                }
                section h2{ 
                    margin-top:40px;
                }
                    .Serv_icon_box{
                        width:100%;
                        margin-top:40px;
                       
                        color:#131313;
                        font-size: 90%;
                        box-shadow: 2px 1px 16px -2px #6b6b6b;
                        background-color:rgb(233, 233, 233);
                    }
                
             
                .Serv_icon_box div{
                    width:100%;
                    padding :40px;
                    margin:20;
                    justify-self: center;
                    background-color: rgb(255, 255, 255);
                    transition: transform  0.3s , background-color 0.3s, box-shadow 0.2s  ease-in;
                   
                }
                .section-featuerPro{
                    height: 55vh;
                }
                .section-featuerPro .feat_Pro_title{ 

                    width:50%;
                    position: relative;
                    margin-top:20px;
                    padding : 20px 0px 20px 40px;
                    left: 10%;
                    font-size: 120%;
                }

                .nav .logo{
                    width:18%;
                    
                    
                    margin-left :0%;
                    margin-top:10px;
                    
                }
                
                .nav li{ 
                    font-size: 90%;
                    padding :20px;
                    margin:20px 5px 5px 00px;
                    
                    display: inline-block;
                    position: relative;
                
                }

                .sub li{ 
                    transition : color 0.3s ease-in;
                    margin-right: 25px;
                }
                header{ 
                    height: 60vh;
                    margin-bottom: 0px;
                }


              
                .title-box{
                    
                    
                    z-index: 1;
                    color:#fff;
                    text-align: center;
                   
                    
                }
                .title-box h1{
                    font-size: 200%;
                }

               
    
              
                section {
                    width:90%;
                    margin:60px auto;
                }
                section h2{ 
                    margin-top:40px;
                }
                    .Serv_icon_box{
                        width:100%;
                        margin-top:40px;
                       
                        color:#131313;
                        font-size: 90%;
                        box-shadow: 2px 1px 16px -2px #6b6b6b;
                        background-color:rgb(233, 233, 233);
                    }
                
             
                .Serv_icon_box div{
                    width:100%;
                    padding :40px;
                    margin:20;
                    justify-self: center;
                    background-color: rgb(255, 255, 255);
                    transition: transform  0.3s , background-color 0.3s, box-shadow 0.2s  ease-in;
                   
                }
                .section-featuerPro{
                    height: 55vh;
                }
                .section-featuerPro .feat_Pro_title{ 

                    width:50%;
                    position: relative;
                    margin-top:20px;
                    padding : 20px 0px 20px 40px;
                    left: 10%;
                    font-size: 120%;
                   
                }
               
                
                .info-box{
                    position: relative;
                    width: 60%;
                    height: 280px;
      
                    padding :40px 50px 20px 60px; 
                    top:40px;
                    font-size: 90%;
            }

            .info-mask:hover .info-box { 
                top:40px;
            }  
            
            .info-box h1{
                font-size: 200%;
                width:100%;
                margin-bottom: 10px;
            }
            
            
            .info-box p{
                line-height: 1.2;
                text-align: justify;
                width: 100%;
                margin-top:20px;
                font-size: 110%;
            }

            .partner-box{
                 width: 100%;

            }

            .section-partner div { 

               width:100%;
               
            }

            .contact-part h3,.contact-part p{
                font-size: 0.5rem;
            }



                .info-box{
                    position: relative;
                    width: 60%;
                    height: 280px;
      
                    padding :40px 50px 20px 60px; 
                    top:40px;
                    font-size: 90%;
            }

            .info-mask:hover .info-box { 
                top:40px;
            }  
            
            .info-box h1{
                font-size: 200%;
                width:100%;
                margin-bottom: 10px;
            }
            
            
            .info-box p{
                line-height: 1.2;
                text-align: justify;
                width: 100%;
                margin-top:20px;
                font-size: 110%;
            }

            .partner-box{
                 width: 100%;

            }

            .section-partner div { 

               width:100%;
               
            }

            .contact-part h3,.contact-part p{
                font-size: 0.5rem;
            }

                    /*----------- *****------------*/           
            }



                /*----------- small screen------------*/ 
@media only screen and (max-width: 1200px) and (min-width: 800px)  {
    


                        .nav .logo{
                            width:12%;
                            
                            
                            margin-left :5%;
                            margin-top:10px;
                            
                        }
                        
                        .nav li{ 
     
                            padding :20px;
                            margin:20px 10px 5px 30px;
                            
                            display: inline-block;
                            position: relative;
                        
                        }

                        .sub li{ 
                            transition : color 0.3s ease-in;
                            margin-right: 25px;
                        }
                        .title-box{
                            
                            
                            z-index: 1;
                            color:#fff;
                            text-align: center;
                           
                            
                        }
                        .title-box h1{
                            font-size: 300%;
                        }

                       
            
                      
                        section {
                            width:80%;
                        }
                    
                            .Serv_icon_box{
                                width:100%;
                                margin-top:80px;
                               
                                color:#131313;
                                font-size: 120%;
                                box-shadow: 2px 1px 16px -2px #6b6b6b;
                                background-color:rgb(233, 233, 233);
                            }
                        
                        .big-icon{ 
                            color:#1c9e75;
                            font-size: 300%;
                            margin-bottom: 30px;
                        }

                        .Serv_icon_box div{
                            width:100%;
                            padding :40px;
                            margin:20;
                            justify-self: center;
                            background-color: rgb(255, 255, 255);
                            transition: transform  0.3s , background-color 0.3s, box-shadow 0.2s  ease-in;
                           
                        }
                        .section-featuerPro .feat_Pro_title{ 
   
                            width:50%;
                            position: relative;
                            margin-top:20px;
                            padding : 20px 0px 20px 40px;
                            left: 10%;
                            font-size: 120%;
                           
                        }



                        .info-box{
                            position: relative;
                            width: 50%;
                            height: 350px;
              
                            padding :20px 50px 20px 60px; 
                        
                            font-size: 110%;
                    }

                    .info-mask:hover .info-box { 
                        top:10%;
                    }
                  
                    
                    .info-box h1{
                        font-size: 200%;
                        width:100%;
                        margin-bottom: 10px;
                    }
                    
                    .nav .logo{
                        width:12%;
                        
                        
                        margin-left :5%;
                        margin-top:10px;
                        
                    }
                    
                    .nav li{ 
 
                        padding :20px;
                        margin:20px 10px 5px 30px;
                        
                        display: inline-block;
                        position: relative;
                    
                    }

                    .sub li{ 
                        transition : color 0.3s ease-in;
                        margin-right: 25px;
                    }
                    .title-box{
                        
                        transform: translate(20%,170%);
                        
                        z-index: 1;
                        color:#fff;
                        text-align: center;
                       
                        
                    }
                    .title-box h1{
                        font-size: 300%;
                    }

                   
        
                  
                    section {
                        width:80%;
                    }
                
                        .Serv_icon_box{
                            width:100%;
                            margin-top:80px;
                           
                            color:#131313;
                            font-size: 120%;
                            box-shadow: 2px 1px 16px -2px #6b6b6b;
                            background-color:rgb(233, 233, 233);
                        }
                    
                    .big-icon{ 
                        color:#1c9e75;
                        font-size: 300%;
                        margin-bottom: 30px;
                    }

                    .Serv_icon_box div{
                        width:100%;
                        padding :40px;
                        margin:20;
                        justify-self: center;
                        background-color: rgb(255, 255, 255);
                        transition: transform  0.3s , background-color 0.3s, box-shadow 0.2s  ease-in;
                       
                    }
                    .section-featuerPro .feat_Pro_title{ 

                        width:50%;
                        position: relative;
                        margin-top:20px;
                        padding : 20px 0px 20px 40px;
                        left: 10%;
                        font-size: 120%;
                       
                    }



                    .info-box{
                        position: relative;
                        width: 50%;
                        height: 350px;
          
                        padding :20px 50px 20px 60px; 
                    
                        font-size: 110%;
                }

                .info-mask:hover .info-box { 
                    top:10%;
                }
              
                
                .info-box h1{
                    font-size: 200%;
                    width:100%;
                    margin-bottom: 10px;
                }
                
                
                .info-box p{
                    line-height: 1.2;
                    text-align: justify;
                    width: 100%;
                    margin-top:20px;
                    font-size: 110%;
                }

                .partner-box{
                     width: 100%;

                }

                .section-partner div { 

                   
                 
                 
                   width:85%;
                   
                }
                    
                    .info-box p{
                        line-height: 1.2;
                        text-align: justify;
                        width: 100%;
                        margin-top:20px;
                        font-size: 110%;
                    }

                    .partner-box{
                         width: 100%;
    
                    }

                    .section-partner div { 

                       
                     
                     
                       width:85%;
                       
                    }

                        #footer-section{
                            padding :40px;
                            font-size: 80%;
                        }

                     /* ********** */ 
  
    }



    /*---------big sceeen ---------*/ 
@media only screen and (max-width: 1440px) and (min-width: 1200px)  {


        /*      index   */


        .nav .logo{
    
    
            
            width:20%;
            height: auto;
            overflow: hidden;
            margin-left :20%;
            margin-top:10px;
            
        }


        .title-box{
            

            z-index: 1;
            color:#fff;
            text-align: center;
           
            
        }



        section{ 
            
            width:80%;
        
        }



        .Serv_icon_box{
            
            margin-top:70px;
            padding : 0 ;
            color:#131313;
            font-size: 130%;
            box-shadow: 2px 1px 16px -2px #6b6b6b;
            background-color:rgb(233, 233, 233);
        }

        .info-box{
            position: relative;
            width: 450px;
            height: 350px;

            padding :40px; 
        
            font-size: 110%;
    }

    .info-mask:hover .info-box { 
        top:10%;
    }
  
    .info-box span{
        margin-left: 50px;
     ;
    }
    .info-box h1{
        font-size: 180%;
        width:70%;
        margin: 10px 0 10px 50px;
    }
    
    
    .info-box p{
        line-height: 1.2;
        text-align: justify;
        width: 50%;
        margin-top:20px;
        font-size: 90%;
        margin-left: 55px;
    }

        /**********************/



    }

/*******************************index query end*******************************************/






/*      ***************************contact page  query*********************************/

                    /* Mobile Version*/
@media only screen and (max-width: 769) and (min-width: 376px)  {

    #contact-header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.377),rgba(0, 0, 0, 0.226)),url("img/contactPageBg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
}

#google-map {
 text-align: center;
}
iframe {
    padding:2px;
    width: 50vh;
    height: 30vh;  
}

#client-form  {

display:flex;
flex-direction: column;
letter-spacing: 1.5px;
}

input, textarea {
    width: 100%;
    padding: 2%;
    margin: 2%;
}
input[type=submit] {

    width: 30%;
    font-size: 2vh;
    background-color:#1c9e75;
    color: white;
}
input[type=submit]:hover {

    background-color:#15634a ;
    cursor: pointer;
}

#contact-info {

    padding: 3%;
}
#contact-info .info1 {

    padding: 20px;
}
.info1 p {
    margin-top: 10px;
}
#contact-info .tel {

    padding: 20px;
}

.tel p {
    margin-top: 10px;
}
#contact-info .icon {
    padding: 20px;
}
.icon i {
    margin-top: 10px;
    font-size: 40px;
    color:  #854a4a;;

}

}

/* Tab Version*/
@media only screen and (max-width: 1439px) and (min-width: 770px)  {

    #contact-header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.377),rgba(0, 0, 0, 0.226)),url("img/contactPageBg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
}

#google-map {
 text-align: center;
}
iframe {
    padding:2px;
    width: 100vh;
    height: 30vh;  
}


input, textarea {
    width: 100%;
    padding: 2%;
    margin: 2%;
}
input[type=submit] {

    width: 30%;
    font-size: 2vh;
    background-color:#1c9e75;
    color: white;
}
input[type=submit]:hover {

    background-color:#15634a ;
    cursor: pointer;
}ntact-info .info1 {

    padding: 20px;
}
.info1 p {
    margin-top: 10px;
}
#contact-info .tel {

    padding: 20px;
}

.tel p {
    margin-top: 10px;
}
#contact-info .icon {
    padding: 20px;
}
.icon i {
    margin-top: 10px;
    font-size: 40px;
    color:  #854a4a;}

    
@media only screen and (max-width: 769) and (min-width: 376px)  {

        #contact-header {
        background-image: linear-gradient(rgba(0, 0, 0, 0.377),rgba(0, 0, 0, 0.226)),url("img/contactPageBg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        background-position: center;
    }
    
    #google-map {
     text-align: center;
    }
    iframe {
        padding:2px;
        width: 50vh;
        height: 30vh;  
    }
    
    #client-form  {
    
    display:flex;
    flex-direction: column;
    letter-spacing: 1.5px;
    }
    
    input, textarea {
        width: 100%;
        padding: 2%;
        margin: 2%;
    }
    input[type=submit] {
    
        width: 30%;
        font-size: 2vh;
        background-color:#1c9e75;
        color: white;
    }
    input[type=submit]:hover {
    
        background-color:#15634a ;
        cursor: pointer;
    }
    
    #contact-info {
    
        padding: 3%;
    }
    #contact-info .info1 {
    
        padding: 20px;
    }
    .info1 p {
        margin-top: 10px;
    }
    #contact-info .tel {
    
        padding: 20px;
    }
    
    .tel p {
        margin-top: 10px;
    }
    #contact-info .icon {
        padding: 20px;
    }
    .icon i {
        margin-top: 10px;
        font-size: 40px;
        color:  #854a4a;;
    
    }
    
    }
    
    /* Tab Version*/
    @media only screen and (max-width: 1439px) and (min-width: 770px)  {
    
        #contact-header {
        background-image: linear-gradient(rgba(0, 0, 0, 0.377),rgba(0, 0, 0, 0.226)),url("img/contactPageBg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        background-position: center;
    }
    
    #google-map {
     text-align: center;
    }
    iframe {
        padding:2px;
        width: 100vh;
        height: 30vh;  
    }
    
    
    input, textarea {
        width: 100%;
        padding: 2%;
        margin: 2%;
    }
    input[type=submit] {
    
        width: 30%;
        font-size: 2vh;
        background-color:#1c9e75;
        color: white;
    }
    input[type=submit]:hover {
    
        background-color:#15634a ;
        cursor: pointer;
    }ntact-info .info1 {
    
        padding: 20px;
    }
    .info1 p {
        margin-top: 10px;
    }
    #contact-info .tel {
    
        padding: 20px;
    }
    
    .tel p {
        margin-top: 10px;
    }
    #contact-info .icon {
        padding: 20px;
    }
    .icon i {
        margin-top: 10px;
        font-size: 40px;
        color:  #854a4a;;
    
    }
    
    }
    
                    
                    
                                        
                    
 /* ********************* contact query end********************************/



/* ------about query ----------*/



/*=========Mobile Version=======*/

@media only screen and (max-width: 768px) and (min-width: 374px)  {


    /*========= About =========*/
    
        #about-header {
    
            background-image: linear-gradient(rgba(0, 0, 0, 0.568), rgba(0, 0, 0, 0.589)),url("img/wallpaper3.jpg");
            height:100vh;
            background-repeat: no-repeat;
            background-size: cover; 
    }
    
        #section1 {
            display: flex;
           flex-direction: column;
    }
    img {
        width:100%;
    }
    
    .who-we-are {
        display: flex;
        flex-direction: column;
    }
    .who-we-are h1 {
        font-size: 8vh;
        text-align: left;
        width: 100%;
    }
    .who-we-are h3 {
        font-size: 5vh;
        text-align: left;
        color: #1c9e75;
        width: 100%;
    }
    .who-we-are p {
        font-size: 5vh;
        margin-top: 3%;
    }
    
    #section2 {
        display:flex;
        flex-direction: column;
        line-height: 1.4;
        text-align: center;
        width: 100%;
        padding: 2%;
    }
    .descriptions {
    
        background-color: rgba(248, 248, 248, 0.979);
    }
    .descriptions h2 {
      
        padding: 10%;
        text-align: left;
       color: #1c9e75;
    }
    
    .descriptions p {
        padding: 1% 10%;
        text-align: left;
    }
    
    footer {
        
        background-color: #1c9e75;
        color: white;
        margin-top: 100%;
    }
    #footer-section {
        display: flex;
        flex-direction: column;
        padding: 5%;
        justify-items: center;
    }
    
    .contact-part h3 {
    
        padding: 3%;
        margin-bottom: 10%;
        font-size: 1.5rem;
    }
    .contact-part p {
    
        padding: 3%;
        margin-bottom: 3%;
        font-size: 1.2rem;
    }
    
    
    }
    
    /*=========Tab Version ==============*/
    
    @media only screen and (max-width: 1440px) and (min-width: 767px)    {
    
    
        
        #about-header {
    
            background-image: linear-gradient(rgba(0, 0, 0, 0.568), rgba(0, 0, 0, 0.589)),url("img/wallpaper3.jpg");
            height:100vh;
            background-repeat: no-repeat;
            background-size: cover; 
    }
    
        #section1 {
            display: flex;
            flex-direction: column;
    }
    img {
        width:100%;
    }
    
    .who-we-are {
        padding: 10%;
    }
    .who-we-are h1 {
        font-size: 10vh;
        text-align: left;
    }
    .who-we-are h3 {
        font-size: 5vh;
        text-align: left;
        color: #1c9e75;
    }
    .who-we-are p {
        font-size: 4vh;
    }
    
    #section2 {
        display: flex;
        flex-direction: column;
        line-height: 1.4;
        text-align: center;
        padding: 2%;  
    }
    .descriptions {
    
          background-color: rgba(248, 248, 248, 0.979);
    }
    .descriptions h2 {
      
        padding: 5%;
        text-align: left;
        color: #1c9e75;
        padding: 5%;
    }
    
    .descriptions p {
        padding: 1% 10%;
        text-align: left;
    }
    
    footer {
    
        background-color: #1c9e75;
        color: white;
        width: 100%;
        margin-top: 40%;
    }
    #footer-section {
        display: flex;
        flex-direction: column;
        padding: 5%;
    }
    
    .contact-part h3 {
    
        padding: 3%;
        margin-bottom: 10%;
        font-size: 1.5rem;
    }
    .contact-part p {
    
        padding: 3%;
        margin-bottom: 3%;
        font-size: 1.2rem;
    }
    
    }
    
    /* ======== LAPTOP VERSION==========*/
    
    @media only screen and (max-width: 1442px) and (min-width:1026px)  {
    
    
        
        #about-header {
    
            background-image: linear-gradient(rgba(0, 0, 0, 0.568), rgba(0, 0, 0, 0.589)),url("img/wallpaper3.jpg");
            height:100vh;
            background-repeat: no-repeat;
            background-size: cover; 
    }
    
        #section1 {
            display: grid;
            grid-template-columns: repeat(2, auto);
    }
    img {
        width:100%;
    }
    
    .who-we-are {
        padding: 10%;
    }
    .who-we-are h1 {
        font-size: 5vh;
        text-align: left;
    }
    .who-we-are h3 {
        font-size:3vh;
        text-align: left;
        color: #1c9e75;
    }
    .who-we-are p {
        font-size: 3vh;
    }
    
    #section2 {
       display: grid;
        grid-template-columns: repeat(4, auto);
        line-height: 1.4;
        text-align: center;
        padding: 2%;
      
    }
    .descriptions {
    
          background-color: rgba(248, 248, 248, 0.979);
    }
    .descriptions h2 {
      
        padding: 5%;
        text-align: left;
        color: #1c9e75;
        padding: 5%;
    }
    
    .descriptions p {
        padding: 1% 10%;
        text-align: left;
    }
    
    footer {
    
        background-color: #1c9e75;
        color: white;
    }
    #footer-section {
       display: grid;
        grid-template-columns: repeat(3, auto);
        padding: 5%;
    }
    
    .contact-part h3 {
    
        padding: 3%;
        margin-bottom: 10%;
        font-size: 1.5rem;
    }
    .contact-part p {
    
        padding: 3%;
        margin-bottom: 3%;
        font-size: 1.2rem;
    }
    
    }
    
         

/*-------------about query end --------------*/

/******************************************************/












